/* === ALL THE MIXINS AND REUSABLE CLASSES GO HERE ===*/

color-transition {
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
.color-transition {
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

/* Simple button for general use*/
.simple-button {
  margin-top: 0.25rem;
  border-radius: 0.25rem;
  border-color: var(--highlight-color);
  border-width: 2px;
  padding: 0.25rem;
  color: var(--highlight-color);
  background-color: var(--background-color);
  font-weight: 600;
  outline: none;

  transition-property: background-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
.simple-button:hover,
.simple-button:focus {
  color: var(--background-color);
  background-color: var(--highlight-color);
}
