// === CSS FOR THE TODO PAGE ===

// Holds all the todo items
.todo-holder {
  max-height: 65vh;
  overflow-y: auto;
  overflow-x: auto;
  font-size: 1.125rem;
}

// Holds the todo input and the add button
.todo-input-holder {
  margin-top: 0.5rem;
  border-style: solid;
  border-width: 2px;
  border-radius: 0.25rem;
  display: flex;

  transition-property: border;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}
.todo-input-holder:focus-within {
  border-color: #8795a1;
}

// Input element for todos
.todo-input {
  padding: 0.25rem;
  padding-right: 0;
  width: 100%;
  outline: none;
}

// Adds a todo when clicked
.todo-add-button {
  margin: 0.5rem;
  margin-left: 0.25rem;
  @include color-transition();
  outline: none !important;
}
.no-touchevents .todo-add-button:hover,
.touchevents .forceTouchHover {
  color: #38c172;
}

// Funny phrases when there are no todos
.todo-empty {
  color: #606f7b;
}
