// === CSS FOR A SINGLE TODO ELEMENT ===

// An entire todo
.todo {
  white-space: nowrap;
}

// Button to remove a todo
.todo-remove-button {
  @include color-transition();
  outline: none !important;
  margin-right: 0.25rem;
}
.no-touchevents .todo-remove-button:hover {
  color: #e3342f;
}

// The content of the todo
.todo-text {
  transition-property: color, text-decoration-color,
    -webkit-text-decoration-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;

  text-decoration: line-through;
  text-decoration-color: transparent;
  -webkit-text-decoration-color: transparent;
  color: #22292f;
}
.no-touchevents .todo-text:hover {
  color: var(--greyed-out);
}
.todo-text.done {
  color: var(--greyed-out);
  text-decoration-color: black;
  -webkit-text-decoration-color: black;
}
