.animate-color {
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.remove-button {
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.add-button {
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  outline: none;
}

.list-item {
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.header {
  font-family: sans-serif;
  font-weight: normal;
}

.add-input {
  outline: none;
}
